<footer>
  <div class="copyright">&copy; Morena Shipyards 2023</div>
  <div class="console">
    <div class="data sys">284</div>
    <div class="data tac">005</div>
    <div class="data eng">398</div>
    <div class="data nav">407</div>
    <div class="data sys">867</div>
    <div class="data tac">978</div>
  </div>
</footer>