<!-- Latest 10 news items -->
<section>
	<h1>News</h1>
	{% assign newsItems = collections.news | reverse %}
	{%- for news in newsItems limit:10 -%}
		<div class="newsSummary">
		<span class="newsTitle">{{ news.data.title }}</span>
		<span class="newsDate">{{ news.date | date: "%a, %b %d" }}</span>
		{{ news.templateContent }}
		</div>
	{%- endfor -%}
	 <p class="imageDivider"><img class="dividerImage" src="/images/transporter.svg"></p>
</section>