---
layout: base.liquid
templateClass: listing
---
<section>
  {{ content }}
</section>

{%- for archive in collections.archive -%}
<section>
	{{ archive.templateContent }}
</section>
{%- endfor -%}

