---
layout: base.liquid
templateClass: home
---
<section>
  {%- for intro in collections.intro limit:1 -%}
	{{ intro.templateContent }}
  {%- endfor -%}
</section>
{% include '_news.liquid' %}
<section>
  {%- for content in collections.content limit:1 -%}
    {{ content.templateContent }}
  {%- endfor -%}
</section>