<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="{{ '/images/favicon.png' | url }}">
	<link rel="stylesheet" href="{{ '/styles/site.css' | url }}">
    <title>{{ title }}</title>
  </head>
  <body>
	{%include '_nav.liquid' %}
	<main>
    {{ content }}
	</main>
	{%include '_footer.liquid' %}
  </body>
</html>