<nav>
  <div class="data tac">70058</div>
  <div class="data eng">12550</div>
  <div class="data sys">85467</div>
  <div class="data nav">51190</div>
  <div class="data eng">23540</div>
  <div class="data nav">35689</div>
  <div class="data tac">69745</div>
  <div class="data sys">89234</div>
</nav>