@import url("/styles/fonts.css");

:root {
  --font-family: Arial, Helvetica, sans-serif;
  --font-family-title: Microgramma-Bold, sans-serif;
	--font-family-supertitle: StarfleetBT-BoldExtended, Microgramma-Bold, sans-serif;
  --font-weight: 400;
  --font-weight-heavy: 800;
  
  /* 3:4 perfect fourth scale */
--font-size-xx-display: 10vmax;
--font-size-x-display: 8vmax;
--font-size-display: 6vmax;
--font-size-super-large: 3rem;
--font-size-xxxx-large: 2.027rem;
--font-size-xxx-large: 1.802rem;
--font-size-xx-large: 1.602rem;
--font-size-x-large: 1.424rem;
--font-size-large: 1.266rem;
--font-size-medium: 1.125rem;
--font-size: 1rem;
--font-size-small: 0.889rem;
--font-size-x-small: 0.75rem;
--font-size-default: var(--font-size);


--lineheight-text: 1.6;
--lineheight-heading: 1.4;

--white: #FFFFFF;
--black: #000000;

--color-background-dark: #161F33;
--color-text-light: #FFFFFF;
--color-background: #F6F9FC;
--color-background-selection: #D3D3E1;
--color-border: #D8D8D8;
--color-text-default: #525F7F;
--color-accent: #503981;
--color-text-link: #6772EE;
--color-text-link-active: var(--color-text-link);
--color-text-link-focus: var(--color-text-link);
--color-text-link-hover: var(--color-accent);
--color-text-link-visited: var(--color-text-link);

/* Themes */

/* SFC */

--darkest-blue: #080B12;
--dark-blue: #161F33;
--mid-blue: #0878D8;
--light-blue: #0098F8;
--lighter-blue: #34B0FF;
--light-cyan: #88F0F0;
--mid-green: #00A840;
--light-yellow: #F8F800;
--amber: #FFBF00;

--color-background: var(--darkest-blue);
--color-body: var(--white);
--color-title: var(--mid-blue);
--color-subtitle: var(--light-blue);
--color-link: var(--light-cyan);
--color-link-hover: var(--lighter-blue);

--border-radius-x-small: .25rem;
--border-radius-small: .5rem;
--border-radius-medium: .75rem;
--border-radius-large: 1rem;
--border-radius-circle: 50%;
--border-width-hairline: 0.5px;
--border-width-thin: 1px;
--border-width-thick: 5px;

--grid-gap: 2vw;
--max-width: 50rem;

--spacing-xx-small: .125rem;
--spacing-x-small: .25rem;
--spacing-small: .5rem;
--spacing: .75rem;
--spacing-medium: 1rem;
--spacing-large: 1.5rem;
--spacing-x-large: 2rem;
--spacing-xx-large: 3rem;
}

/* Set desktop values here */
@media screen and (min-width: 480px) {
	:root {
		--font-size-default: var(--font-size-medium);
	}
}


* {
  box-sizing: border-box;
}

html {
  background-color: var(--color-background);
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
}

html {
  /* background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%); */
}

body {
  margin: auto;
  /* padding: 0 2rem; */
  font-size: var(--font-size-default);
  font-weight: 400;
  line-height: var(--lineheight-text);
  color: var(--color-text-default);
  font-family: sans-serif;
  color: var(--color-body);
}

@media screen and (min-width: 480px) {
	body {
		font-size: var(--font-size-medium);
	}
}

main,nav,footer {
	margin: 0 auto;
}

main {
	max-width: var(--max-width);
	padding: 0 1rem;
}

nav ul,
footer ul {
	display: flex;
	list-style: none;
}

nav li, 
footer li {
	padding: 1em;
}

footer ul {
	flex-direction: column;
}

img {
	width: 100%;
}

footer, nav {
	background-color: var(--color-background);
}

footer {
	margin-top: var(--spacing-xx-large);
}

nav {
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
	flex-direction: column;
	overflow: hidden;
	padding: 0.5rem;
	width: 100%;
}

nav .nav-list {
	display: flex;
	justify-content: center;
	font-family: var(--font-family-title);
	font-weight: var(--font-weight);
	text-transform: uppercase;
}

nav .nav-item {
	padding: 0.5rem 0.5rem;
}

nav .nav-item-active a {
	color: var(--color-link-hover);
}

nav .console {
	display: flex;
	width: 100%;
	flex-wrap:nowrap;
	overflow: hidden;
	justify-content: center;
}

nav .data {
	padding: 0.6rem 0.6rem 0rem;
	font-size: var(--font-size-x-small);
	color: var(--black);
	font-weight: var(--font-weight-heavy);
	border-radius: 0.25rem;
	margin-right: 1rem;
	font-family: var(--font-family-title);
}

nav .tac {
	background-color: var(--mid-blue);
}
nav .nav {
	background-color: var(--mid-green);
}
nav .eng {
	background-color: var(--light-cyan);
}
nav .sys {
	background-color: var(--light-blue);
}


footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0.5rem;
	align-items: center;
}

footer .console {
	display: flex;
	width: 100%;
	flex-wrap:nowrap;
	overflow: hidden;
	justify-content: center;
}

footer .data {
	padding: 0.5rem 1rem;
	font-size: var(--font-size-medium);
	font-weight: var(--font-weight-heavy);
	font-family: var(--font-family-title)
}

footer .tac {
	color: var(--mid-blue);
}
footer .nav {
	color: var(--mid-green);
}
footer .eng {
	color: var(--light-cyan);
}
footer .sys {
	color: var(--light-blue);
}

footer .copyright {
	padding: 0.5rem 1rem;
	color: var(--color-text-light);
	text-align: center;
	min-width: 15rem;
}


h1,h2,h3,h4 {
  margin: 0 0 var(--spacing) 0;
  font-family: var(--font-family-title);
  line-height: var(--lineheight-heading);
  letter-spacing: 1px;
  font-weight: var(--font-weight);
  color: var(--color-title);
}

h1 {
	font-family: var(--font-family-supertitle);
	color: var(--color-subtitle);
  margin: var(--spacing-xx-large) 0 var(--spacing) 0;
  font-size: var(--font-size-super-large);
  font-weight: var(--font-weight);
  letter-spacing: 2px;
  text-transform: uppercase;
}

h2 {
  font-size: var(--font-size-x-large);
}

h3 {
  font-size: var(--font-size-medium);
}

h4 {
	color: var(--color-subtitle);
}

a {
	color: var(--color-link);
	text-decoration: none;
}

ul {
	padding-left: 1rem;
	list-style: none;
}

li {
	padding-bottom: 1rem;
}

li::before {
	content: "•";
	color: var(--mid-blue);
	display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

li.active::before {
	content: "■";
	color: var(--mid-green);
}

li.inactive::before {
	content: "■";
	color: var(--amber);
}

a:hover {
	color: var(--color-link-hover);
}

a:link {
  transition: color var(--duration-quickly) ease;
}

.fullWidth {
	width: 100%;
}

.halfWidth {
  width: 50%;
}

.thirdWidth {
  width: 33%;
}

.quarterWidth {
  width: 25%;
}

.text-align-center {
  text-align: center; 
}

.gallery1up {
	width: 100%;
}

.gallery2up {
	width: 40%;
}

.gallery3up {
	width: 30%;
}

.gallery,
.caption {
	margin: 0;
	padding: 0;
}

.caption {
	opacity: 0.6;
}

.gallery {
	display:flex;
	justify-content: space-evenly;
}

/*
img.gallery,
.gallery img {
	padding: 4px;
	border: 1px solid var(--mid-blue);
	border-radius: 4px;
}*/



.caption {
	text-align: center; 
	font-size: var(--font-size-x-small);
	padding: var(--spacing) 0 var(--spacing-large);
}

.newsSummary p {
	margin: 0 0 1rem 1rem;
}

.newsTitle {
	color: var(--lighter-blue);
	font-weight: var(--font-weight-heavy)
}

.newsDate {
	color: var(--mid-green);
}

.inactive::before {
	content: "INACTIVE ";
	font-size: var(--font-size-small);
	color: #FFBF00;
	font-variant: small-caps;
}